* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body {
    overflow-x: hidden; /* 强制禁止横向滚动 */
    width: 100%;
}
body {
    font-family: 'Noto Serif JP',serif;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 135px;
    }
a {
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s;
}
a:hover {
    opacity: 0.7;
    cursor: pointer;
}
#story h2 {
    font-family: 'Great Vibes',cursive;
    font-size: 3rem;
    margin-top: 30px;
}
/* open-animate */
#door-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    perspective: 1500px;
}
.door-panel {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #f1edeb;
    border: 5px solid #fff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.05);
    transition: transform 2s cubic-bezier(0.4, 0, 0.2,1);
}
.door-left {
    left: 0;
    transform-origin: left center;
    border-right: 1px solid #e0e0e0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.door-right {
    right: 0;
    transform-origin: right center;
    border-right: 1px solid #e0e0e0;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.door-handle {
    width: 8px;
    height: 80px;
    background: linear-gradient(to bottom,#D4a373,#b08d55);
    border-radius: 4px;
    margin: 0 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

/* door animate */
#door-layer.active .intro-content {opacity: 0;}
#door-layer.active .door-left {transform: rotateY(-105deg);}
#door-layer.active .door-right {transform: rotateY(105deg);}

.intro-content.fade-out {
    opacity: 0;
}
/* header */
.homepage-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    z-index: 1030;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 70px;
    position: relative;
}
@media (width < 1060px){
    .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 10px 15px;
    height: 70px;
    position: relative;
    }
}
.menu-toggle {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    width: 100px;
    text-align: left;
}
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Great Vibes',cursive;
    font-size: 2rem;
    color: #333;
}
.reserve {
    width: 100px;
    text-align: right;
}
.btn-reserve {
    display: inline-block;
    border: 1px solid #333;
    color: #333;
    padding: 6px 15px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    transition: all 0.3s;
    text-transform: uppercase;
}
.btn-reserve:hover {
    background-color: #111111;
    color: #fff;
}
/* navbar */
.navbar {
    border-top: 1px solid #f5f5f5;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.nav-list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.nav-link {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}
.nav-subtitle {
    font-size: 0.7rem;
    color: #999;
    font-family: 'Noto Serif JP',serif;
    letter-spacing: 0;
    margin-top: 2px;
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #D4a373;
    transition: width 0.3s;
}
.nav-link:hover::after {
    width: 100%;
}
@media (width < 1060px){
    .intro-content {
    position: fixed;
    top: 60%;
    left: 40%   
    }
}
@media (width < 768px) {
    body {
        padding-top: 70px;
    }
    .intro-content {
    position: fixed;
    top: 60%;
    left: 38%;
    font-size: 0.7rem;
    }   
   .navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border-bottom:1px solid #eee;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
   } 
   .navbar.show {
    max-height: 500px;
    opacity: 1;
    padding-bottom: 15px;
   }
   .nav-list {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px 0 0 0;
   }
}


/* slide */
#carouselExampleCaptions {
        margin-top: -23px; 
    }
.carousel-indicators [data-bs-target] {
    width: 8px !important;   
    height: 8px !important;  
    border-radius: 50%;       
    margin: 0 6px;            
    border: 2px solid #fff;   
    background-color: transparent; 
}

.carousel-indicators .active {
    background-color: #fff;   
}
.carousel-item img{
    height: 85vh;
    object-fit: cover;
    width: 100%;
}
.carousel-caption {
    bottom: 50px;
    left: 50px;
    right: auto;
    text-align: left;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.carousel-caption h5 {
    font-size: 4rem;
    color: #f8cfa6;
    font-family: 'Great Vibes',cursive;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1.0);
}
@media (width < 768px) {
    #carouselExampleCaptions {
        margin-top: 30px; 
    }
    .carousel-caption {
        left: 20px;
        bottom: 55px; 
    }
    .carousel-caption h5 {
    font-size: 3rem;
    }
    .carousel-caption p{
    font-size: 0.9rem;
    }
    .carousel-item img{
    height: 90vh;
    }
}
.section-title {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    margin-bottom: 30px;
    color: #d4a373;
}
.my-menu {
    font-family: 'Noto Serif JP',serif;
    font-size: 1.2rem;
}
h2 {
    margin-bottom: 30px;
    color: #d4a373;
}
section {
    padding: 30px;
    margin-bottom: 30px;
}
.product-card {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.product-info {
    font-size: 0.8rem;
}
.more-btn {
    margin-top: 25px;
    display: inline-block;
    border: 1px solid #333;
    color: #333;
    padding: 6px 15px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    transition: all 0.3s;
    text-transform: uppercase;
}
.more-btn {
    transition: all 0.3s;
}
.more-btn:hover {
    color: #fff;
    background-color: #000;
}
.our-story {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 5px;
}
/* news */
.news-item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
}
.news-data {
    color: #999;
    width: 400px;
    flex-shrink: 0;
    text-align: left;
}
.news-title {
    color: #999;
    font-weight: 500;
    transition: color 0.3s;
}
.news-title:hover {
    color: #D4a373;
}
.shop-map {
    width: 100%;
    }
@media (width < 768px) {
    .shop-map {
       width: 100% !important;
       margin: 0 auto;
       text-align: center;
       display: block;
    }
    .news-data {
    color: #999;
    width: 100px;
    flex-shrink: 0;
    text-align: left;
}
}
/* sns */
.sns-link {
    font-size: 1.5rem;
    margin: 0 15px;
    cursor: pointer;
}
.sns-link:hover{
    color: #D4a373;
}
.textarea {
    width: 80%;
}
/* footer */
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
}
.footer-title {
    font-size: 1.5rem;
}

/* css effect */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}